<div class="card" style="width: 18rem;">
  <div class="card-header">
    {{event}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{activity}}</li>
    <li class="list-group-item">{{date}}</li>
    <li class="list-group-item">{{total_cost}}</li>
  </ul>
</div>